* {
    margin: 0;
    padding: 0;
}

.row {
    max-width: 1140px;
    margin: auto;
}

body {
    font-family: tahoma;
}

.hero {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
}

.main-nav {
    /* menghilangkat bullet list */
    list-style: none;
    /* membuat navigasi berada di kanan halaman */
    float: right;
    margin-top: 60px;
}

.main-nav li {
    /* terlihat memanjang kesamping */
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
}

.main-nav li a:hover {
    color: #837BE4;
    border-bottom: 2px solid #837BE4;
    transition: all 0.2s ease-in;
    padding: 15px 0;
}

.logo img {
    height: 100px;
    float: left;
    margin-top: 30px;
}